<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo Web Shop Regression Suite">
  <test name="Regression">
    <classes>
      <class name="test.addProductsToCart"></class>
      <class name="test.deleteFromCart"></class>
    </classes>
  </test> <!-- Regression -->
</suite> <!-- MavenMyOmniPack -->
